BTNARROW BITMAP "BITMAP_BTNARROW.bmp"
BTNOK BITMAP "BITMAP_BTNOK.bmp"
BTNEXPAND BITMAP "ICON_BTNEXPAND.bmp"
BTNCOLLAPS BITMAP "ICON_BTNCOLLAPS.bmp"
ERROR BITMAP "ERROR.bmp"
INFORMATION BITMAP "INFORMATION.bmp"
QUESTION BITMAP "QUESTION.bmp"
WARNING BITMAP "WARNING.bmp"
